* {
	font-size: 10vw;
	background-color: cornflowerblue;

}

body {
	background-color: cornflowerblue;
}

.About {
	background-color: cornflowerblue;
	width: 410px;
	margin-top: 1.4vw;
	margin-left: 5vw;
	font-size: 15vw;
}