* {font-size: 20px}
body {
	margin: 150px;
	background-color: pink;
	font-size: 1.2em;
	font-family: font-family: 'Ranchers', cursive;
}
h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3.6em;
}
h3 {
	font-size: 1.1em;
	font-family: 'Luckiest Guy', cursive;
}
h5 {
	font-size: 1.2em;
	font-family: font-family: 'Ranchers', cursive;
}
b {
	font-family: 'Ranchers', cursive;
	font-size: 1.4em;
}
a {
	font-size: 1.2em;
	font-family: font-family: 'Ranchers', cursive;
	cursor: default;
}
li {
	font-size: 1.2em;
	font-family: font-family: 'Ranchers', cursive;
	list-style-type: none;
}