* {font-size: 30px}
body {
	margin: 150px;
	background-color: pink;
	font-size: 1.2em;
	color: dimgrey;
}

li {
	font-size: 1.2em;
	font-family: 'Patrick Hand', cursive;
	list-style-type: none;
	line-height: -20px;
}

b {
		font-size: 1.2em;
	font-family: 'Patrick Hand', cursive;
	list-style-type: none;
	line-height: -5px;
}

a {
	font-size: 1em;
	cursor: default;
	color: dimgrey;
	text-decoration: none;
	transition: .5s ease;
}
a:hover {
	color: khaki;
	border-bottom-style: dotted; 
}

.brown:hover {
	color: saddlebrown;
	border-bottom-style: dotted;
}

.red:hover {
	color: darkred;
	border-bottom-style: dotted;
}

ul {
	line-height: -20px;
}