* {font-size: 20px}
body {
	margin: 150px;
	font-size: 1.2em;
	color: dimgrey;
	background-color: pink;
	background-size: cover;
	height: 100%;
}
h1 {
	font-size: 3.6em;
	font-family: 'Luckiest Guy', cursive;
}
h3 {
	font-size: 1.1em;
	font-family: 'Luckiest Guy', cursive;
}
h5 {
	font-size: 1.2em;
	font-family: 'Patrick Hand', cursive;
}
b {
	font-size: 1.2em;
}
a {
	font-size: 1.1em;
	cursor: default;
	color: dimgrey;
	text-decoration: none;
	border-bottom-style: double;
	transition: .5s ease;
	opacity: 50%;
}
a:hover {
	color: darksalmon;
	border-bottom-style: dashed; 
}
