* {box-sizing: border-box;}

body {
	background-image: linear-gradient(to right, orange, yellow, orange);
}

.Title {
	font-family: 'Special Elite', cursive;
	font-size: 40px;
	margin-left: 20vw;
	margin-top: 5vw;

}

.para1 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.para2 {
	font-size: 30px;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.Redemption {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1vw
	width: 50vw;
	height: 30vw;
}

.Red {

}
@media only screen and (max-width: 1068) {
 body {
 	hhh
 }
}