* {box-sizing: border-box;}

body {
	background-image: linear-gradient(to right, orange, yellow, orange);
}

.Title {
	font-family: 'Special Elite', cursive;
	font-size: 40px;
	margin-left: 20vw;
	margin-top: 5vw;

}

.para1 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.para2 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
	float: left;
}

.Redemption {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1vw
	width: 50vw;
	height: 30vw;
}

.Red {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	height: 30vw;
	margin-bottom: 0.5vw;

}

.para3 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 5vw;  
}

.para4 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.tweet1 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.tweet2 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
} 

.tweet3 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.tweet4 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.para5 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

.para6 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

.Dead {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55vw;
	height: 30vw;
	margin-bottom: 0.5vw;
}

.para7 {
	font-size: 30px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

@media only screen and (max-width: 320) {
 body {
 	.Title {
	font-family: 'Special Elite', cursive;
	font-size: 30px;
	margin-left: 20vw;
	margin-top: 5vw;

}

.para1 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.para2 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
	float: left;
}

.Redemption {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1vw
	width: 50vw;
	height: 30vw;
}

.Red {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	height: 30vw;
	margin-bottom: 0.5vw;

}

.para3 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 5vw;  
}

.para4 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;  
}

.tweet1 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.tweet2 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
} 

.tweet3 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.tweet4 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw;
	background-color: dodgerblue;
}

.para5 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

.para6 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

.Dead {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55vw;
	height: 30vw;
	margin-bottom: 0.5vw;
}

.para7 {
	font-size: 20px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: 1.5vw;
	margin-top: 1vw; 
}

 }

 @media only screen and (max-width: 1440) {
 body {
 	hhh
 }

 @media only screen and (max-width: 1068) {
 body {
 	hhh
 }
}