* {
	font-size: 50px;
}

/*General Info*/
.Info1 {
	width: 50vw;
	font-size: 2.5vw;
	font-family: 'VT323', monospace;
	color: white;
	display: block;
	margin-right: 7em;
	margin-left: 10em;
	margin-bottom: 40px;
	margin-top: 40px;
}


/*End of General Info*/

/*Super Mario Page*/
.red {
	background-color: tomato;
}

.PictureMario {
	width: 16.8em;
	height: 7.9em;
	position: relative;
	margin-left: 8.5em;
	margin-right: 12em;
}



.Player4 {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: 'VT323', monospace;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15em;
    margin-right: 10em;
}

.Player4 {border-radius: 100%;}

a {
	font-size: 1em;
	cursor: auto;
	text-decoration: none;
	transition: .5s ease;
}

a:hover {
	font-color: dodgerblue;
}
/*End of Super Mario Page*/



/*Skyrim Page*/
.gray {
	background-color: gray;
}

.PictureSkyrim {
	width: 16.8em;
	height: 7.9em;
	position: relative;
	margin-left: 7em;
	margin-right: 12em;
}
/*End of Skyrim Page*/



/*Sonic the Hedgehog Page*/
.blue {
	background-color: royalblue;
}

.PictureSonic {
	width: 14.4em;
	height: 8.5em;
	position: relative;
	margin-left: 7.5em;
	margin-right: 10em;
}

/*End of Sonic the Hedgehog*/