/*General Page*/
* {
	font-size: 0.5vw;
	background-color: black;
}

body {
	background-color: black;
}
/*End of General Page*/



/*About Page*/
.Title {
	font-size: 5vw;
	font-family: 'Press Start 2P', cursive;
	color: yellow;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 25%
}

.About {
	width: 50vw;
	font-size: 2.0vw;
	font-family: 'VT323', monospace;
	color: yellow;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

.Pacman {
	width: 770px;
	height: 470px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.TF2 {
	width: 770px;
	height: 470px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	position: relative;
}

button {
	border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: 'VT323', monospace;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 40px;

}

.Player1 {
    background-color: red;
}

.Player2 {
    background-color: blue;
    right: 10em;
}

.Player3 {
    background-color: gold;
    position: absolute;
    right: 20px;
}
/*End of About Page*/



/*Title Page*/
.TitlePage {
	font-family: 'Press Start 2P', cursive;
	font-size: 6vw;
	color: white;
	margin-top: 50px;
	margin-right: 5em;
	margin-left: 5.3em;
}

.Player4 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 50px;
    font-family: 'VT323', monospace;
    margin: 90px 70px;
    background-color: red;
    margin-top: 5vw;
    margin-left: 11.5em;
    margin-right: auto;
}

.Player4 {border-radius: 4px;}
.Player4 {border-radius: 8px;}
.Player4 {border-radius: 16px;}
.Player4 {border-radius: 24px;}
.Player4 {border-radius: 100%;}
/*End of Title Page*/



/*Transition Page*/
.Bg {
	color: dodgerblue;
}

.Mario {
	background-color: red;
	margin-top: 60px;
}


.Skyrim {
	background-color: grey;
	margin-right: -180em;
}
/*End of Transition Page*/